.places{
    max-width: 984px;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px){
    .places{
        max-width: 928px;
    }
} 

@media (max-width: 768px){
    .places{
        max-width: 720px;
    }
} 

@media (max-width: 550px){
    .places{
        max-width: 550px;
        margin-left: 0;
        margin-right: 0;
    }
} 