.lead{
    max-width: 984px;
    min-height: 1005px;
    margin: auto;
    padding-top: 56px;
}

@media (max-width: 1024px){
    .lead{
        max-width: 928px;
        min-height: 962px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px){
    .lead{
        max-width: 768px;
        min-height: 862px;
        margin: 0;
        padding-top: 48px;
    }
}

@media (max-width: 320px){
    .lead{
        max-width: 320px;
        min-height: 406px;
    }
}