.lead__title{
    max-width: 720px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 700px){
    .lead__title{
        font-size: 66px;
        line-height: 1.25;
    }
}

@media (max-width: 463px){
    .lead__title{
        font-size: 46px;
    }
}

@media (max-width: 375px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}