.footer__copyright{
    margin-top: 0;
    flex-grow: 1;
    text-align: right;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 320px){
    .footer__copyright{
        line-height: 14px;
        text-align: left;
        margin-top: 48px;
    }
}