.place__link{
    color: white;
    grid-area: link;
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    margin: 0;
    padding-top: 12px;
}

.place__link:hover{
    cursor: pointer;
}

@media (max-width: 320px){
    .place__link{
        display: none;
    }
}