.cover__title{
    max-width: 560px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
}

@media (max-width: 700px){
    .cover__title{
        font-size: 66px;
        line-height: 1.25;
    }
}

@media (max-width: 463px){
    .cover__title{
        font-size: 56px;
    }
}

@media (max-width: 408px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}