.place{
    min-height:  584px;
    display: grid;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    grid-template-areas: 
        "title url"
        "image paragraph"
}

@media (max-width: 1024px){
    .place{
        min-height:  640px;
        grid-template-columns: 440px 456px;
        
    }
}

@media (max-width: 768px){
    .place{
        min-height:  581px;
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media (max-width: 320px){
    .place{
        min-height:  964px;
        grid-template-columns: 320px;
        margin-bottom: 49px;
        row-gap: 32px;
        grid-template-areas: 
        "title"
        "image"
        "paragraph"
    }
}