.place{
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    grid-template-areas: 
        "title url"
        "image paragraph";
}

@media (max-width: 1177px){
    .place{
        grid-template-columns: 420px 1fr;
        
    }
}

@media (max-width: 1089px){
    .place{
        grid-template-columns: 440px 1fr;
        
    }
}

@media (max-width: 904px){
    .place{
        grid-template-columns: 360px 1fr;
        
    }
}

@media (max-width: 768px){
    .place{
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media (max-width: 700px){
    .place{
        grid-template-columns: 240px 1fr;
    }
}

@media (max-width: 550px){
    .place{
        grid-template-columns: 1fr;
        margin-bottom: 49px;
        row-gap: 32px;
        grid-template-areas: 
        "title"
        "image"
        "paragraph";
    }
}