.footer{
    max-width: 1184px;
    margin: auto;
    padding-bottom: 24px;
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
}

@media (max-width: 1024px){
    .footer{
        max-width: 928px;
    }
}

@media (max-width: 768px){
    .footer{
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 320px){
    .footer{
        max-width: 186px;
        margin: 0;
        margin-left: 16px;
        flex-direction: column;
    }
}