.cover__item{
    margin-bottom: 92px;
    background-image: url("../../../images/background.png");
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    background-size: cover;
    background-position: center;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 245px 312px;
}

.cover__item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}


.cover__item:hover:before{
    content: "";
    background-color: #2A2C2F;
    opacity: 0.8;
}

@media (max-width: 1024px){
    .cover__item{
        padding: 195px 232px;
    }   
}

@media (max-width: 768px){
    .cover__item{
        padding: 115px 104px;
        margin-bottom: 88px;
    }   
}

@media (max-width: 320px){
    .cover__item{
        padding: 33px 16px;
        margin-bottom: 64px;
    }   
}