.cover__item{
    width: 100%;
    background-image: url("../../../images/background.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-size: cover;
    background-position: center;
    position: relative;
    text-decoration: none;
    color: white;
}

.cover__item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}


.cover__item:hover:before{
    content: "";
    background-color: #2A2C2F;
    opacity: 0.8;
}